
* {
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1, h2, h3 {
    font-weight: normal;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

header h1 {
    text-align: center;
}

header nav {
    margin-top: 1rem;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav li {
    margin-right: 1rem;
}

header form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

header input[type="search"] {
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

header input[type="submit"] {
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem;
    cursor: pointer;
}

main {
    margin: 2rem auto;
    max-width: 800px;
}

section {
    margin-bottom: 2rem;
}

section h3 {
    margin-bottom: 0.5rem;
}

section ul {
    list-style: none;
    margin-left: 1rem;
}

section li {
    margin-bottom: 0.5rem;
}

footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 0.8rem;
}

footer p:first-child {
    margin-right: 1rem;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
img{
    width: 468px;
    height: 624px;
}
